
   <div>
    <div>
    <div>

      <div class=" faq-title text-center ">
     <!--      <h6>OBRAS SOCIALES</h6>
      <small>
          <label style="font-size: 8px" *ngFor="let elem of elementosOS" >
            {{elem.os_nombre}} -
          </label>
        </small> -->
        <button class="btn btn-info btn-block mt-1 mb-2" (click)="imprimirResumen()"> Imprimir resumen</button>
      </div>


      <div class=" faq-title text-center pb-1 ">
        <h6>ORDENES</h6>
      </div>

          <p-scrollPanel [style]="{width: '100%', height: '150px'}">
            <p-table  #dt   tableStyleClass="prime-table" selectionMode="single" [columns]="colsOrden"  [value]="elementoOrden" [(selection)]="selecteditemsOrden"   columnResizeMode="expand" [responsive]="true"
            scrollHeight="500px" [scrollable]="true"[loading]="loading" loadingIcon=" icon-color-loader-new fas fa-spinner fa-3x ">




                  <ng-template pTemplate="header" let-columns >
                    <tr >
                        <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                              {{col.header}}
                              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activar para ordenar en forma descendente" ariaLabelAsc="Activar para ordenar en forma ascendente"></p-sortIcon>
                        </th>

                      </tr>
                      <tr>
                      <th *ngFor="let col of columns" [ngSwitch]="col.field" >
                          <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                          <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_sesion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                          <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_sesion_codigo'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                          <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_precio_sesion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                          <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_cantidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                          <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'os_precio_total'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                          <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'pac_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                          <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'pac_dni'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">

                      </th>
                      <th></th>
                  </tr>
              </ng-template>

                  <ng-template pTemplate="body" let-elemento>

                  <tr style="height:28px" [ngClass]="colorRow(elemento.estado)" >
                          <td style="width: 20%">{{elemento.os_nombre}}</td>
                          <td style="width: 20%">{{elemento.os_sesion}}</td>
                          <td style="width: 12%">{{elemento.os_sesion_codigo}}</td>
                          <td style="width: 12%">{{elemento.os_precio_sesion}}</td>
                          <td style="width: 12%">{{elemento.os_cantidad}}</td>
                          <td style="width: 12%" [ngClass]="colorString('A')">{{elemento.os_precio_total}}</td>
                          <td style="width: 18%; font-size: 8px">{{elemento.pac_nombre}}</td>
                          <td style="width: 16%; font-size: 8px">{{elemento.pac_dni}}</td>



                  </tr>
                  </ng-template>

                  <ng-template pTemplate="footer">
                      <tr class="mt-3">
                                <td style="width: 52%" ></td>
                                <td style="width: 48%" class="es-egreso">TOTAL: {{totalOrden |  number : '1.2-2'}}</td>
                      </tr>

                      </ng-template>

            </p-table>

            <!--       <p-overlayPanel #op [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" >
                          <span>   <a class="nav-link azul my-hover " (click)="editarRegistro('historia')"> historia clínica</a></span>
                          <span>   <a class="nav-link azul my-hover" (click)="editarRegistro('turno')">  Dar turno</a></span>
                          <hr>
                          <span>   <a class="nav-link azul my-hover" (click)="editarRegistro('observacion')">  Ver observación</a></span>
                  </p-overlayPanel>   -->
                </p-scrollPanel>

                <div class=" faq-title text-center mt-2">
                  <h6>MATRICULAS Y CONCEPTOS</h6>
                </div>
          <p-scrollPanel [style]="{width: '100%', height: '250px'}">
          <p-table  #dt   tableStyleClass="prime-table" selectionMode="single" [columns]="cols"  [value]="elemento" [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
          scrollHeight="500px" [scrollable]="true" (onFilter)="filtered($event)" [loading]="loading" loadingIcon=" icon-color-loader-new fas fa-spinner fa-3x ">




                <ng-template pTemplate="header" let-columns >
                  <tr >
                      <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activar para ordenar en forma descendente" ariaLabelAsc="Activar para ordenar en forma ascendente"></p-sortIcon>
                      </th>
                      <th style="width: 3em">
                        <p-tableHeaderCheckbox  (click)="sumarValoresSeleccionados(selecteditems)"></p-tableHeaderCheckbox>
                      </th>
                    </tr>
                    <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" >
                        <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_mat_concepto" appendTo="body" defaultLabel=""	 *ngIf='col.field =="mat_concepto"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_monto'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_monto_final'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_fecha_vencimiento'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_fecha_pago'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_mat_num_cuota" appendTo="body" defaultLabel=""	 *ngIf='col.field =="mat_num_cuota"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_id_plan'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_matricula'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'mat_nombreyapellido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                         <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_mat_estado" appendTo="body" defaultLabel=""	 *ngIf='col.field =="mat_estado"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>
                         <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_mat_tipo_pago" appendTo="body" defaultLabel=""	 *ngIf='col.field =="mat_tipo_pago"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>
                         <input class="form-control form-control-sm col-md-12" *ngSwitchCase="'id_liquidacion_detalle'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                         <p-multiSelect [style]="{'height':'28px', 'width': '100%', 'font-size': '10px'}" [options]="_nombreyapellido" appendTo="body" defaultLabel=""	 *ngIf='col.field =="nombreyapellido"' (onChange)="dt.filter($event.value,col.field,'in')"></p-multiSelect>

                    </th>
                    <th></th>
                </tr>
            </ng-template>

                <ng-template pTemplate="body" let-elemento>

                <tr style="height:28px" [ngClass]="colorRow(elemento.estado)" >
                     <!--    <td [ngClass]="colorString(elemento.operacion_cobro_id)" style="width: 5%"><a class="my-hover" (click)="verDetalle(elemento)">{{elemento.operacion_cobro_id}}</a></td>    -->
                     <td style="width: 8%">{{elemento.mat_matricula}}</td>
                        <td style="width: 20%">{{elemento.mat_nombreyapellido}}</td>
                        <td style="width: 20%">{{elemento.mat_concepto}}</td>
                        <td style="width: 25%">{{elemento.mat_descripcion}}</td>
                        <td style="width: 12%">{{elemento.mat_monto |  number : '1.2-2'}}</td>
                        <td style="width: 12%">{{elemento.mat_monto_final |  number : '1.2-2'}}</td>
                        <td style="width: 12%">{{elemento.mat_fecha_pago | date: 'dd/MM/yyyy'}}</td>
                        <td style="width: 12%">{{elemento.mat_fecha_vencimiento | date: 'dd/MM/yyyy'}}</td>
                        <td style="width: 8%">{{elemento.mat_num_cuota}}</td>
                        <td style="width: 8%">{{elemento.mat_id_plan}}</td>
                        <td style="width: 8%" [ngClass]="colorString(elemento.mat_estado)">{{elemento.mat_estado}}</td>
                        <td style="width: 8%">{{elemento.mat_tipo_pago}}</td>
                        <td style="width: 8%; font-size: 8px">{{elemento.id_liquidacion_detalle}}</td>
                        <td style="width: 14%">{{elemento.nombreyapellido}}</td>
                           <td style="width: 3em">
                            <p-tableCheckbox [value]="elemento" (click)="sumarValoresSeleccionados(selecteditems)"></p-tableCheckbox>
                          </td>

                </tr>
                </ng-template>

                <ng-template pTemplate="footer">
                    <tr class="mt-3">
                              <td style="width: 52%" ></td>
                              <td style="width: 16%" class="es-ingreso">SELECCIONADO: {{total_seleccionado |  number : '1.2-2'}}</td>
                              <td style="width: 16%" class="es-egreso">TOTAL: {{total |  number : '1.2-2'}}</td>
                    </tr>

                    </ng-template>

          </p-table>

          <!--       <p-overlayPanel #op [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" >
                        <span>   <a class="nav-link azul my-hover " (click)="editarRegistro('historia')"> historia clínica</a></span>
                        <span>   <a class="nav-link azul my-hover" (click)="editarRegistro('turno')">  Dar turno</a></span>
                        <hr>
                        <span>   <a class="nav-link azul my-hover" (click)="editarRegistro('observacion')">  Ver observación</a></span>
                </p-overlayPanel>   -->
              </p-scrollPanel>
        </div>



    </div>
  </div>

