<div class="header-inicio   cuadro-size pt-4 ">
  <div class="pt-5 d-flex justify-content-center"><label><p class="text-center txt-azul-oscuro-colegio pt-5 label-h3 texto-fecha">AUTOGESTION</p></label></div>
  <div class="pt-5 d-flex justify-content-center">
    <label><p class="text-center txt-azul-oscuro-colegio pt-5 label-h3 ">AHORA PODRAS SUBIR TUS FACTURAS ASOCIANDOLAS A CADA LIQUIDACION DESDE EL MENU <b class="texto-fecha">MIS LIQUIDACIONES</b></p></label>
  </div>
 <!--  <label>Desde aquí podra subir sus facturas para ser gestionadas por el colegio</label>
  <p-fileUpload name="images[]" url=" {{url}}multiuploads/estudios/{{this.userData['name']}}" (onUpload)="onUpload($event)" chooseLabel="Seleccionar Archivo"  uploadLabel = "Subir"  cancelLabel="Cancelar"
  multiple="multiple"  >

</p-fileUpload> -->
  </div>



  