<div class=" faq-title text-center pb-3 ">
    <h5>INSUMOS DEL PRODUCTO</h5>
  </div>
  <div class="card-rounded card-header">
    <div class="ml-2  d-flex justify-content-between">   <a  (click)="nuevo()" class="icon-hover  icon-color-success"> <i class="fas fa-plus fa-lg mr-2"></i>Insumo</a>   <h6 class="text-info">Para editar cantidad hacer click sobre el elemento</h6> </div> 
  </div>
    <div  class="m-3">   


      
      <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos" [(selection)]="selecteditems"  [loading]="loading"  columnResizeMode="expand" [responsive]="true"
      scrollHeight="500px" [scrollable]="true"  (onFilter)="filtered($event)"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
      <ng-template pTemplate="caption">
        <div class=" d-flex justify-content-start">
          <button  (click)="exportarExcel()" class="btn btn-sm btn- btn-excel "> <i class="fas fa-file-excel fa-lg mr-1"></i> Excel</button>     
          <button  (click)="exportarPdf()" class="btn btn-sm btn-pdf ml-2"> <i class="fas fa-file-pdf fa-lg mr-1"></i>PDF</button>     
        
        </div>
        
      </ng-template>
    
                 <ng-template pTemplate="header" let-columns >
                
                            <tr >
                                 
                              <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                  {{col.header}}
                                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                              </th> 
                              
                          </tr> 
                          <tr>


                            <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'insumo_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">                         
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'insumo_descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'stock_armado_producto_estado'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                            </th>
                            
                          <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                            
                           
                          </th>
                          <th></th>
                      </tr>
                  </ng-template>
                
          <ng-template pTemplate="body" let-elementos  >
              <tr style="height:24px" >
                     
  
                      <td style="width: 30%">{{elementos.insumo_nombre}}</td>
                      <td style="width: 40%">{{elementos.insumo_descripcion}}</td>
                      <td style="width: 10%" [pEditableColumn]="elementos" [pEditableColumnField]="'cantidad'" >
                        <p-cellEditor >
                          <ng-template pTemplate="input" >
                              <input type="text" class="form-control" [(ngModel)]="elementos.cantidad" (keydown) ="guardarCambio($event, elementos)" >
                          </ng-template>
                          <ng-template pTemplate="output" >
                              {{elementos.cantidad}}
                             
                          </ng-template>
                      </p-cellEditor></td>
                      <td style="width: 20%">{{elementos.stock_armado_producto_estado}}</td>

                                  
                      <td style="width:6%">
                        <div class="d-flex justify-content-center">                             
                            <a  (click)="borrar(elementos)" class="icon-hover"> <i class="far fa-trash-alt icon-color-danger fa-lg"></i></a>  
                        </div>
                                          
                          </td>
              </tr>
          </ng-template>
    
         
      </p-table>
    </div>