<app-custom-preloader *ngIf="loading"></app-custom-preloader>
<div class=" faq-title text-center pb-3 pt-2 ">
  <h5>LISTADO DE ORDEN DE PRODUCCION</h5>
</div>

<div class="card-rounded card-header mb-5">
  <div class="ml-2 row d-flex justify-content-between d-flex align-items-center">  
      <div class="d-flex justify-content-start">
          <label class="mt-2 ml-1 mr-1">Desde :</label>
          <p-calendar [(ngModel)]="fecha_desde"    tabindex="0"  [locale]="es" dateFormat="dd/mm/yy "   [readonlyInput]="true">              
          </p-calendar> 
          <label class="mt-2 ml-1 mr-1">Hasta :</label>
          <p-calendar [(ngModel)]="fecha_hasta"    tabindex="0"  [locale]="es" dateFormat="dd/mm/yy "   [readonlyInput]="true">              
          </p-calendar> 
          <button class="btn-cuadrado-info btn-sm ml-2 texto-bold" (click)="buscarProduccion()"> Buscar ordenes de produccion </button>
      </div>
    
      <div class="d-flex justify-content-end  d-flex align-items-center">
         <label class="mr-2 text-info">Cancelados</label> <p-inputSwitch [(ngModel)]="checked" class="text-info" (onChange)="handleChange($event)"></p-inputSwitch>
      </div>
  </div>
 
</div>

<ul class="cards" >
  <li class="cards__item" *ngFor="let elem of elementos">
    <div class="card">

      <div class="card__content ">
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-start">    
            <a (click)="estadistica(elem)" > <i class="fas fa-circle  " [ngClass]="iconoColor(elem.estado)"></i>
              <label class="ml-2  mr-2 ">{{elem.estado}} </label>
            </a>                   
          </div>
          <div class="d-flex justify-content-center">   
           
          </div>
          <div class="d-flex justify-content-end">
            <small> <label class="ml-3  mt-1 texto-warning texto-bold">Creado: {{elem.fecha_creacion | date: 'dd/MM/yyyy'}} </label>                   </small>
          </div>
        </div>  
      </div>

      <div class="card__content ">
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-start">                     
            <b><label class="ml-2  mr-2 card__text card__title" >Produccion : {{elem.id}} </label></b>
          </div>
         <div class="d-flex justify-content-end mb-2">
              <a *ngIf="userData['admin']=== 2" (click)="estadistica(elem)" class="icon-hover pb-1"> <i class="fas fa-chart-pie fa-lg text-info"></i></a>  
            </div>
        </div>  
      </div>
<hr>

  <div class="card__content">
          <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start">
              <small><label class="texto-info texto-bold mr-2 ">Inicio : {{elem.fecha_desde | date: 'dd/MM/yyyy'}} </label> </small>
            </div>
            <div class="d-flex justify-content-center">
              <small><label  class="texto-danger texto-bold"> Fin : {{elem.fecha_hasta | date: 'dd/MM/yyyy'}}</label></small> 
            </div>
          
          </div> 
        
        </div>
    
      
      <div class="card__content">
        <div class="card__title">
          <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start " >
              <label class="ml-3 mt-2 mr-2">{{elem.descripcion}}</label>
            </div>
            <div class="d-flex justify-content-end">              
            </div>
          </div>
        </div>
        <p class="card__text">{{elem.observacion}} </p>
        
        <button class="btn-cuadrado-secondary btn--block card__btn mb-2" (click)="buscar(elem)"  >Ver producción</button>
    
      </div>
    </div>
  </li>
</ul>

