<div class=" faq-title text-center pb-3 pt-2 ">
  <h5>LISTADO DE ORDEN DE PRODUCCION</h5>
</div>

    <div  class="m-3">
  



      <div class="container" id="tourpackages-carousel" >
        <div class="row">          
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let elem of elementos" >
            <div class="thumbnail" [ngClass]="colorRow(elem.estado)">
                <div class="caption">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-start">                     
                      <b><label class="ml-2  mr-2 text-info" >Produccion : {{elem.id}} </label></b>
                    </div>
                    <div class="d-flex justify-content-center">   
                     <small> <label class="ml-3  mr-2 mt-1 text-warning">{{elem.fecha_creacion | date: 'dd/MM/yyyy'}} </label>                   </small>
                    </div>
                    <div class="d-flex justify-content-end">
                      <label class="ml-2  mr-2  text-info">{{elem.estado}} </label>
                    </div>
                  </div>  
                

                  <div class='col-lg-12 well well-add-card'>
                    
                    <div class="d-flex justify-content-between">
                      <div class="d-flex justify-content-start">
                        <label class="ml-3 mt-2 mr-2">{{elem.descripcion}}</label>
                      </div>
                      <div class="d-flex justify-content-end">
                        <a  (click)="buscar(elem)" class="icon-hover pb-1  mt-2"> <i class="fas fa-list-ul fa-lg text-primary"></i></a>  
                      </div>
                    </div>
              
                   
                     
                  </div>
                  <p class="text-muted ml-3 mr-3 mb-3 ">{{elem.observacion}}</p>
                  <div class='col-lg-12'>
                  
                               
                    
                      
                    <div class="d-flex justify-content-between">
                      <div class="d-flex justify-content-start">
                        <small><label class="text-info mr-2 ">Inicio : {{elem.fecha_desde | date: 'dd/MM/yyyy'}} </label> </small>
                        
                      </div>
                      <div class="d-flex justify-content-center">
                        <small><label  class="text-danger"> Fin : {{elem.fecha_hasta | date: 'dd/MM/yyyy'}}</label></small> 
                      </div>
                      <div class="d-flex justify-content-end">
                        <a *ngIf="userData['admin']=== 2" (click)="estadistica(elem)" class="icon-hover pb-1"> <i class="fas fa-chart-pie fa-lg text-info"></i></a>  
                      </div>
                    </div>          
                  </div>
               
                  
              </div>
            </div>
          </div>
        
  
        
          
        </div><!-- End row -->
      </div>

    
      <p-overlayPanel #op [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" >                          
 
        <span>   <a class="nav-link azul text-info  my-hover" (click)="AsociarProduccion()">Asociar producción a orden de producción</a></span>        
        <span>   <a class="nav-link azul text-warning  my-hover" (click)="AsociarProduccionDetalle()">Detalle de producción a orden de producción</a></span>                                  
        
        
      
      </p-overlayPanel>  
   
  
    </div>
 