
 <div class=" faq-title text-center pb-3 pt-2 ">
    <i class="far fa-question-circle icono-info ml-2 mt-2 mr-1" (mouseenter)="op2.show($event)"  style="font-size:24px"></i>
      <h5>ASOCIAR INSUMOS A LA PRODUCCION </h5>
    </div>
    <div class="card">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
            <label class="mr-2 mt-1">Estado :</label>
            <select [(ngModel)]="selectedEstado" class="form-control-sm text-sm texto-monserrat texto-secondary icon-hover" (change)="onChangeEstado($event)" >                        
              <option  *ngFor="let grupo of estado" class="text-sm texto-monserrat texto-secondary icon-hover"    >
                <label class="icon-hover"  >{{grupo.name}}</label>              
            </option>
          </select>
        </div>
        <div class="d-flex justify-content-center"></div>
        <div class="d-flex justify-content-end align-items-center">
          <label class="mt-2 ml-1 mr-1">Periodo Desde</label>
          <p-calendar [(ngModel)]="fecha_desde" [showTime]="true"   tabindex="0"  [locale]="es" dateFormat="dd/mm/yy "   [readonlyInput]="true">              
          </p-calendar>
          <label class="mt-2 ml-1 mr-1">hasta</label>
          <p-calendar [(ngModel)]="fecha_hasta"  [showTime]="true"   tabindex="0"  [locale]="es" dateFormat="dd/mm/yy "   [readonlyInput]="true" class="ml-2">              
          </p-calendar>
          <button class=" ml-2 mr-3 btn-sm btn-cuadrado-info" (click)="buscarByDates()">Buscar</button>
        </div>
      </div>
      
    </div>
     
    <p-overlayPanel #op2 [showCloseIcon]="true" [dismissable]="false" appendTo="body">
      <p class="texto-info texto-bold">Desde aquí se gestionan los datos relacionados con cada producción :</p>
      <p> - Finalizar una producción</p>
      <p> - Cargar datos de auditoria</p>
      <p> - Asociar insumos  a cada producción</p>
      <p> - Consultar producciones por estado</p>
      <p> - Consultar producciones por periodo de fechas de producción</p>
      <p class="texto-secondary">----------------------------------------</p>
      <p><b class="texto-warning"> Recordar que  se debe repetir el proceso para cada producto para completar la producción planificada</b></p>
    </p-overlayPanel>
    <div  class="m-3">
        <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos" [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
        scrollHeight="500px" [scrollable]="true"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
       
        <ng-template pTemplate="caption">
          <div class=" row">
        
      
  
          </div>
          
        </ng-template>
      
                   <ng-template pTemplate="header" let-columns >
                  
                              <tr >
                                   
                                <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th> 
                                
                            </tr> 
                            <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                                 <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'orden_produccion_detalle_id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">  
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'estado'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'fecha_produccion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'maquina_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'hora_inicio'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'hora_fin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad_solicitada'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad_existente'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                              
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                  
                    <ng-template pTemplate="body" let-elementos  >
                      <tr style="height:20px"  [ngClass]="colorRow(elementos.estado)">
                              <td style="width: 7%; font-size: 14px;font-weight: bold;" [ngClass]="iconoColor(elementos.estado)">{{elementos.orden_produccion_detalle_id}}</td> 
                              <td style="width: 12%"  [ngClass]="iconoColor(elementos.estado)">{{elementos.estado}}</td>     
                              <td style="width: 18%">{{elementos.fecha_produccion | date:'EEEE dd/MM/yyyy'}}</td>
                              <td style="width: 18%">{{elementos.lote }}</td>
                              <td style="width: 30%">{{elementos.nombre}}</td>
                              <td style="width: 18%">{{elementos.maquina_nombre}}</td>
                              <td style="width: 8%; font-weight: bold;font-size: 11px;" class="texto-success">{{elementos.hora_inicio | date : ' hh:mm'}}</td>
                              <td style="width: 8%; font-weight: bold;font-size: 11px;" class="texto-danger-soft">{{elementos.hora_fin | date: 'hh:mm'}}</td>
                              <td style="font-size: 12px;width: 10%; text-align: right" class="texto-warning">{{elementos.cantidad_solicitada |  number : '1.0-2'}}</td>  
                              <td style="font-size: 12px;width: 10%; text-align: right" class="texto-warning texto-bold">{{(elementos.cantidad_solicitada / elementos.unidades) |  number : '1.0-2'}}</td>     
                              <td style="font-size: 12px;width: 10%; text-align: right" class="texto-success ">{{(elementos.cantidad_producida) |  number : '1.0-2'}}</td>  
                              <td style="font-size: 12px;width: 10%; text-align: right" class="texto-success texto-bold">{{(elementos.cantidad_producida / elementos.unidades) |  number : '1.0-2'}}</td>                     
                              <td style="width: 6%">
                                <a  (click)="asociarInsumos(elementos)"  class="icon-hover"> <i class="fas fa-cubes fa-lg  texto-info fa-2x"></i></a>                        
                              </td>
                      </tr>
                  </ng-template>
       
      
        </p-table>
   
      </div>