<div class="d-flex justify-content-center mt-3">
    <label>CREACION DE ORDEN DE PEDIDO</label>
  </div>
    <div  class="m-3">
      <div class="row ml-1 mr-1">
        <span class="pr-1 pt-1"><h6>fecha de confeccion:</h6></span>
        <p-calendar [inputStyle]="{'height':'29.1px'}"    class="mr-2 " [(ngModel)]="fecha"  (onSelect)="actualizarFecha($event)" tabindex="0"  [locale]="es" dateFormat="dd/mm/yy"   [readonlyInput]="true" showButtonBar="true"[monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2100">
          <ng-template pTemplate="date" let-date>
               <span    style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
           </ng-template> 
         </p-calendar>
          <button    class="ml-2 btn  btn-info btn-sm float-right btn-block"  (click)="nuevo()" >Guardar orden de pedido</button>
      </div>
      <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos" [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
      scrollHeight="500px" [scrollable]="true"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
     
      <ng-template pTemplate="caption">
        <div class="row">
                <div class="col-md-7" style="text-align:left">
                            </div>
        <div class="col-md-5" style="text-align:right">                                
            <input  class="form-control col-md-12 form-control-sm" type="text"  placeholder="Buscar en toda la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')"  >
        </div>
     </div>
    </ng-template>
    
                 <ng-template pTemplate="header" let-columns >
                
                            <tr >
                                 
                              <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                  {{col.header}}
                                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                              </th> 
                              <th style="width: 3em">
                                <p-tableHeaderCheckbox  ></p-tableHeaderCheckbox>
                              </th>
                          </tr> 
                          <tr>
                          <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'insumo_descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'unidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                          </th>
                          <th></th>
                      </tr>
                  </ng-template>
                
          <ng-template pTemplate="body" let-elementos  >
              <tr style="height:20px">
                     
  
                      <td style="width: 40%">{{elementos.insumo_descripcion}}</td>
                      <td style="width: 20%">{{elementos.unidad}}</td>
                      <td style="width: 20%">{{elementos.cantidad}}</td>
                  <!--     <td style="width: 20%" pEditableColumn>{{elementos.cantidad}}</td>    -->
                  <td  style="width: 20%" [pEditableColumn]="elementos" [pEditableColumnField]="'cantidad_carga'"  >
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input type="text" class="form-control" [(ngModel)]="elementos.cantidad_carga">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{elementos.cantidad_carga}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                       <td style="width: 3em">
                         <p-tableCheckbox [value]="elementos" ></p-tableCheckbox>
                       </td>
              </tr>
          </ng-template>
    
         
      </p-table>
    </div>