     
            <form class="col-12"  [formGroup]="updateDataForm">
                <div class="row">
                    <div class="col-8">

                        <div class=" d-flex align-items-center">
                                <label class="mt-2 mr-2">{{updateDataForm.value.descripcion}}</label>  
                                <button class="btn btn-primary btn-sm btn-round  mr-2" type="button" (click)="buscarInsumo()">
                                    <i class="fas fa-search"></i> Insumo
                                </button>
     
                            
                          </div> 
                        <div class="form-group ">
                                <label  >Cantidad</label>
                                <input class="form-control col-md-12 form-control-sm" formControlName="cantidad"  autofocus  />
                                <div *ngIf="updateDataForm.controls['cantidad'].errors?.required && updateDataForm.controls['cantidad'].touched" class="alert alert-warning">
                                        * Este campo es requerido
                                </div>
                        </div>     
                        
                        <div class="form-group ">
                                <label  >Volumen</label>
                                <input class="form-control col-md-12 form-control-sm" formControlName="VOLUMEN"  autofocus  />
                                <div *ngIf="updateDataForm.controls['VOLUMEN'].errors?.required && updateDataForm.controls['VOLUMEN'].touched" class="alert alert-warning">
                                        * Este campo es requerido
                                </div>
                        </div>      
                        
                        <div class="form-group ">
                                <label  >Unidades</label>
                                <input class="form-control col-md-12 form-control-sm" formControlName="unidad"  autofocus  />
                                <div *ngIf="updateDataForm.controls['unidad'].errors?.required && updateDataForm.controls['unidad'].touched" class="alert alert-warning">
                                        * Este campo es requerido
                                </div>
                        </div>     
                    </div>
        </div>
             
            </form>
            <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button  [disabled]="!updateDataForm.valid" [formGroup]="updateDataForm" class="btn btn-info texto-roboto" type="submit" (click)="guardarDatos()" >Guardar</button>
                            
                    </div>
                </p-footer>
       