
  <div  class="m-3">
    <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos" [(selection)]="selecteditems"  [loading]="loading"  columnResizeMode="expand" [responsive]="true"
    scrollHeight="500px" [scrollable]="true"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
   

    <ng-template pTemplate="header" let-columns >
              
      <tr >
           
        <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th> 
      
    </tr> 
    <tr>
    <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'unidad_descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
    </th>
    <th></th>
</tr>
</ng-template>

<ng-template pTemplate="body" let-elementos  >
<tr style="height:20px"  >

<td style="width: 30%">{{elementos.nombre}}</td>     
<td style="width: 40%">{{elementos.descripcion}}</td>
<td style="width: 20%">{{elementos.unidad_descripcion}}</td>
<td style="width: 10%"> 
<a  (click)="guardar(elementos)" class="icon-hover"> <i class="far fa-check-circle icon-color-success fa-2x"></i></a>     
</td>
</tr>
</ng-template>

</p-table>
  </div>

  