<div class="d-flex justify-content-center mt-3">
    <label>AGREGAR PRODUCCION A ORDEN DE PEDIDO</label>
  </div>
    <div  class="m-3">
  
    
    <!--   <p-overlayPanel #op [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" >                          
 
        <span>   <a class="nav-link azul text-info  my-hover" (click)="AsociarProduccion()">Asociar producción a orden de pedido</a></span>
        <span>   <a class="nav-link azul text-success  my-hover" (click)="AsociarInsumo()">Asociar insumos a producción</a></span>
        <span> <hr></span>
        <span>   <a class="nav-link azul text-warning  my-hover" (click)="AsociarProduccionDetalle()">Detalle de producción a orden de pedido</a></span>        
        <span>   <a class="nav-link azul text-warning  my-hover" (click)="AsociarInsumoDetalle()">Detalle de insumos a producción</a></span>        
        
        
      
      </p-overlayPanel>   -->
      <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos" [(selection)]="selecteditems"  [loading]="loading"  columnResizeMode="expand" [responsive]="true"
      scrollHeight="300px" [scrollable]="true"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
     
      <ng-template pTemplate="caption">
        <div class=" d-flex justify-content-start">
          <button  (click)="exportarExcel()" class="btn btn-sm btn- btn-excel "> <i class="fas fa-file-excel fa-lg mr-1"></i> Excel</button>     
          <button  (click)="exportarExcel()" class="btn btn-sm btn-pdf ml-2"> <i class="fas fa-file-pdf fa-lg mr-1"></i>Pdf</button>     
        
        </div>
        
      </ng-template>
    
                 <ng-template pTemplate="header" let-columns >
                
                            <tr >
                                 
                              <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                  {{col.header}}
                                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                              </th> 
                           
                          </tr> 
                          <tr>
                          <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'unidad_descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                          </th>
                          <th></th>
                      </tr>
                  </ng-template>
                
          <ng-template pTemplate="body" let-elementos  >
              <tr style="height:20px">
            <!--          
                <td style="width: 6%" >                   
                  <a     (click)="accion($event,op,elementos)"    ><i class="far fa-edit fa-2x icon-color-purple my-hover"></i></a>
               
              </td> -->
                <td style="width: 6%">{{elementos.id}}</td>
                      <td style="width: 10%">{{elementos.fecha_pedido | date: 'dd/MM/yyyy'}}</td>
                      <td style="width: 40%">{{elementos.descripcion}}</td>
                       <td style="width: 10%" >{{elementos.cantidad}}</td>
                       <td style="width: 40%" >{{elementos.nombreyapellido}}</td>
                      
              </tr>
          </ng-template>
    
         
      </p-table>

  
    </div>
 