<div class="header-inicio   cuadro-size pt-4 ">
  
  
  <div class="pt-3">
    <div class=" pt-5 faq-title text-center pb-3 ">
      <h5 class="pt-3"> MI CUENTA</h5>
    </div>
  </div>

<hr class="hr-50"> 

<div class=" row mt-5">
<div class="col-xs-0 col-sm-0 col-md-4"></div>
    <div class="pt-5 col-xs-12 col-sm-12 col-md-4">

<label class="txt-gris-oscuro-colegio">Suscribirme a notificaciones a mi correo</label>

<div class="row ">
    <input type="text" class="txt-gris-oscuro-colegio mr-2" [(ngModel)]="mat_email">
  <button class="btn btn-success btn-block m-1" (click)="guardarCorreo()">Guardar</button>
  <p class=" mt-5 text-danger">Para cambiar su contraseña por favor envie un correo a administracion@colegiodepsicologossj.com.ar y se le enviara el token de modificacion</p>
  
  <div>
  <label class="txt-gris-oscuro-colegio mt-5"> Ingrese su token para modificar la contraseña</label>
  <input type="text" class="txt-gris-oscuro-colegio mr-2" [(ngModel)]="token">
</div>
<div >
  <label class="txt-gris-oscuro-colegio mt-2 mr-2"> Ingrese contraseña :</label>
  <input type="text" class="txt-gris-oscuro-colegio mr-2" [(ngModel)]="password" >
</div>
<div>
  <label class="txt-gris-oscuro-colegio mt-2 mr-2"> Repetir contraseña :</label>
  <input type="text" class="txt-gris-oscuro-colegio mr-2" [(ngModel)]="retypepassword">
</div>

  <button class="btn btn-info btn-block mt-2 m-1  mb-5" (click)="modificarPassword()">Modificar contraseña</button>

</div>
<div class="col-xs-0 col-md-4 col-sm-0"></div>
</div>
</div>