

<div class="banner-consulta   cuadro-size pt-4 ">
  <div class="pt-3">
    <div class=" pt-5 faq-title text-center pb-3 ">
      <h2 class="pt-3">ULTIMAS NOVEDADES</h2>
    </div>
  </div>

<!-- ----------------------------------------------------------------------- -->
<!--                           NOTICIAS DESTACADAS                           -->
<!-- ----------------------------------------------------------------------- -->
<div *ngIf="urgente" >
  <div *ngIf="urgente.pagina === 'INICIO'" class=" background-white mt-3 mb-5 ml-1 mr-1">    
    <div class="flexbox row">
  <div class="container">
      <article class="card-local shadow curve my-hover">
        <div>
          <img src="./../../../assets/img/notificacion.jpg" alt="image"  >
        </div>

        <div>
          <label class="d-flex justify-content-start "><p class="text-center texto-fecha label-h1  "><i class="fas fa-exclamation-triangle mr-2"></i>IMPORTANTE</p></label>
          <p><strong class="text-color-6C3483 label-h6 texto-fecha ">{{urgente.titulo}}</strong></p>
          <span class="muted">
            
            <p class="text-justify"  [innerHTML]="urgente.descripcion"></p>
          </span>
        </div>
      </article>
  </div>
    </div>
</div>
</div>
<!-- 
  <div *ngIf="urgente" class="row">
  
    


    <div class=" col-xs-0 col-sm-0 col-md-3"></div>
    <div  class=" transparency-2  col-xs-12 col-sm-12 col-md-6 mt-4 -3  p-1 movie_card "> 
      <div class="row">
        <div *ngIf="urgente.pagina === 'INICIO'" class="col-md-12 xs-12 col-sm-12 ">
          <div class="mt-4 d-flex justify-content-center "><label><p class="text-center texto-fecha label-h1  ">IMPORTANTE</p></label></div>
            <label class=" texto-fecha label-h4 mt-3 d-flex justify-content-center ">{{urgente.titulo}}</label>            
            <hr class="hr-50 ">

            <label class="txt-gris-oscuro-colegio label-h4 mt-3 d-flex justify-content-center  mb-4"><p class="text-justify" [innerHTML]="urgente.descripcion"></p></label>
            <img *ngIf="urgente.tiene_imagen === 'SI'" src="{{urgente.imagen}}" alt="No se encuentra la imagen" class=" img-noticia imagen-fit mb-2 rounded  d-block ">              
            <a *ngIf="urgente.tiene_enlace === 'SI'" class="btn btn-info btn-block text-white d-flex align-items-center d-flex justify-content-center mb-3"  href="{{urgente.enlace}}" target="_blank" ><i class="far fa-arrow-alt-circle-down mr-2 fa-2x"></i>Descargar </a>                            
            <video *ngIf="urgente.es_video === 'SI'" class="mt-5 mb-5" width="100%" height="400" controls> 
                <source  src="{{urgente.enlace_video}}" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
              <iframe *ngIf="urgente.es_youtube === 'SI'" [src]="photoURL(urgente.enlace_video_youtube)" class=" cuadro-size-videos"  frameborder="0" allowfullscreen></iframe>
        </div>
        
        <div class="col-xs-0 col-sm-0 col-md-3">
            
        </div>
      </div>
    </div>
    <div class=" col-xs-0 col-sm-0  col-md-3"></div>
  </div> -->

<!-- ----------------------------------------------------------------------- -->
<!--                           NOTICIAS REGULARES                            -->
<!-- ----------------------------------------------------------------------- -->

  <app-loading *ngIf="loading" class="text-center txt-noticia-inicio"></app-loading>

  <p-scrollPanel  [style]="{width: '100%', height: '600px'}">
    
    <div  *ngIf="errornoticia" class=" row  row mt-5">
        <div class="col-5"></div>
        <div class="col-2" *ngIf="errornoticia">
            <div id="container center"><b><h6 class="text-white">A ocurrido un error</h6></b></div>
            <div id="container">
                <button class="learn-more " (click)="loadListNoticias()"> Volver a cargar</button>    
              </div>                  
        </div>
        <div class="col-5"></div>
    </div>


  <div  *ngFor="let elemento of elementos" >

<!-- ----------------------------------------------------------------------- -->
<!--                             noticias viejas                             -->
<!-- ----------------------------------------------------------------------- -->
         <div class="row m-2">
          <div class=" col-lg-2 col-xs-0 col-sm-0 col-md-2"></div>
     
          <div *ngIf="((elemento.pagina === 'INICIO') && (elemento.es_importante !== 'SI'))" class=" transparency-2  col-lg-8 col-xs-12 col-sm-12 col-md-8 mt-4  movie_card  "> 
            <div class="row ">
              <div *ngIf="elemento.pagina === 'INICIO'" class="col-md-12 xs-12 col-sm-12  ">
                <label class="txt-gris-oscuro-colegio texto-fecha mt-3 d-flex justify-content-end ">{{elemento.created_at | date :'dd/MM/yyyy'}}</label>
                 <!--  <label class="txt-gris-oscuro-colegio label-h4 mt-3 d-flex justify-content-center ">{{elemento.titulo}}</label> -->
                  
                  <div class="faq-title text-center">
                    <h5>  {{elemento.titulo}}</h5>
                </div>
                
                  <div >
                        <label class="txt-gris-oscuro-colegio label-h4 mt-3 d-flex justify-content-center  mb-4"><p class="text-justify" [innerHTML]="elemento.descripcion"></p></label>
                        <img *ngIf="elemento.tiene_imagen === 'SI'" src="{{elemento.imagen}}" alt="No se encuentra la imagen" class=" img-noticia imagen-fit pb-2 rounded  d-block ">              
                        <a *ngIf="elemento.tiene_enlace === 'SI'" class="btn btn-info btn-block text-white d-flex align-items-center d-flex justify-content-center mb-3"  href="{{elemento.enlace}}" target="_blank" ><i class="far fa-arrow-alt-circle-down mr-2 fa-2x"></i>Descargar </a>                            
                        <video *ngIf="elemento.es_video === 'SI'" class="mt-5 mb-5" width="100%" height="400" controls> 
                            <source  src="{{elemento.enlace_video}}" type="video/mp4">
                            Your browser does not support HTML5 video.
                          </video>
                          <iframe *ngIf="elemento.es_youtube === 'SI'" [src]="photoURL(elemento.enlace_video_youtube)" class=" cuadro-size-videos"  frameborder="0" allowfullscreen></iframe>
                  </div>
                  
              </div>
              
              <div class="col-xs-0 col-sm-0 col-md-3">
                  
              </div>
            </div>
            
          </div>
          <div class="col-lg-2 xs-0 col-sm-0  col-md-2"></div>

        </div> 
     

</div>

</p-scrollPanel>
</div>