<div class="pt-3">
  <div class="pt-5 faq-title text-center pb-3">
    <h5 class="pt-3">ACCESOS A SISTEMAS DE AUTORIZACIONES</h5>
  </div>
</div>

<div class="row p-5" [style]="{ width: '99%', height: '100%' }">
  <div class="col-xl-3 col-lg-3 col-md-3 col-xs-0 col-sm-0"></div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div
      class="
        col-lg-12 col-md-12
        ofsset-md-2
        col-sm-12 col-xs-12
        offset-sm-0 offset-lg-0
      "
    >
      <br />

      <div
        class="card-columns fluid-center"
        [style]="{ width: '99%', height: '100%' }"
      >
        <div class="card bg-light mb-3 p-2 animated fadeInLeft slow">
          <h5 class="card-title">Colegio de psicologos</h5>
          <img
            class="card-img-top"
            src="./assets/images/logocolegio.png"
            alt="Logo colegio"
          />
          <a
            class="btn btn-block btn-outline-success mt-2"
            href="http://excelenciadigital.info/psicologosWEB/Login.aspx"
            target="_blank"
            >Acceder</a
          >
        </div>

        <div class="card bg-light mb-3 p-2 animated fadeInLeft slow">
          <h5 class="card-title">Colegio Médico</h5>
          <img
            class="card-img-top"
            src="./assets/images/logo_colmed.png"
            alt="logo colmed"
          />
          <a
            class="btn btn-block btn-outline-success mt-2"
            href="http://200.5.196.186/ColmedPracticas/Login.aspx"
            target="_blank"
            >Acceder</a
          >
        </div>

        <div class="card bg-light mb-3 p-2 animated fadeIn slow">
          <h5 class="card-title">D.A.M.S.U</h5>
          <img
            class="card-img-top"
            src="./assets/images/DAMSU.jpg"
            alt="Logo damsu"
          />
          <a
            class="btn btn-block btn-outline-success mt-2"
            href="http://autorizacionesdamsu.com.ar/"
            target="_blank"
            >Acceder</a
          >
        </div>

        <div class="card bg-light mb-3 p-2 animated fadeInRight slow">
          <h5 class="card-title">Sancor salud</h5>
          <img
            class="card-img-top"
            src="./assets/images/Sancor-Salud.jpg"
            alt="Logo sancor"
          />
          <a
            class="btn btn-block btn-outline-success mt-2"
            href="http://prestadores.sancorsalud.com.ar/prestadores.login.aspx"
            >Acceder</a
          >
        </div>

        <div class="card bg-light mb-3 p-2 animated fadeInRight slow">
          <h5 class="card-title">All Medicine</h5>
          <img
            class="card-img-top"
            src="./assets/images/all-medicine.jpg"
            alt="logo all medicine"
          />
          <a
            class="btn btn-block btn-outline-success mt-2"
            href="http://allmedicine.com.ar/?page_id=43"
            >Acceder</a
          >
        </div>

        <div class="card bg-light mb-3 p-2 animated fadeInRight slow">
          <h5 class="card-title">Jerarquicos Salud</h5>
          <img
            class="card-img-top"
            src="./assets/images/jsalud.png"
            alt="logo Jerarquicos salud"
          />
          <a
            class="btn btn-block btn-outline-success mt-2"
            href="https://gestiones.jerarquicos.com/consumosonline/"
            >Acceder</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-xs-0 col-sm-0"></div>
</div>
