<div class=" faq-title text-center pb-3 pt-2 ">
  <i class="far fa-question-circle icono-info ml-2 mt-2 mr-1" (mouseenter)="op2.show($event)"  style="font-size:24px"></i>
    <h5>PRODUCCIONES ACTIVAS</h5>
  </div>
 <!--  <div class="card-rounded card-header">
    <div class="ml-2 row d-flex justify-content-between">  
        <div class="d-flex justify-content-start">
          <button *ngIf = "!editar" class="btn-cuadrado-success btn--block  mb-1" (click)="nuevo()"  > <i class="fas fa-check fa-lg mr-2 mt-1"></i>CREAR PRODUCCION</button>         
        </div>
        <div class="d-flex justify-content-center">
            <label class="mt-2 ml-1 mr-1">Producción</label>
            <p-calendar [(ngModel)]="fecha_creacion"  (onSelect)="actualizarFecha($event)" [disabled] = "editar" tabindex="0"  [locale]="es" dateFormat="dd/mm/yy "   [readonlyInput]="true">              
            </p-calendar> 
        </div>
    
        <div class="d-flex justify-content-end">
            <label class="mt-2 ml-1 mr-1">Periodo Desde</label>
            <p-calendar [(ngModel)]="fecha_desde"  (onSelect)="actualizarFecha($event)" [disabled] = "editar" tabindex="0"  [locale]="es" dateFormat="dd/mm/yy "   [readonlyInput]="true">              
            </p-calendar>
            <label class="mt-2 ml-1 mr-1">hasta</label>
            <p-calendar [(ngModel)]="fecha_hasta"  (onSelect)="actualizarFecha($event)" [disabled] = "editar" tabindex="0"  [locale]="es" dateFormat="dd/mm/yy "   [readonlyInput]="true" class="ml-2">              
            </p-calendar>
        </div>
     </div>
  </div> -->
  <!-- <div class="card-rounded card-header">
    <div class="ml-2 row d-flex justify-content-between">  
        <div class="d-flex justify-content-start">         
            <span>
                <input class="swing" id="artist" type="text" placeholder="BO$$" /><label for="artist">Artist</label>
              </span>          

              <span>
                <input class="balloon" id="state" type="text" placeholder="Descripción" /><label for="state">Descripción</label>
              </span>

              <span>
                <input class="slide-up" id="card" type="text" placeholder="Fund me!" /><label for="card">Credit Card</label>
              </span>
              <span></span>
              
            <label class="mt-1 ml-1 mr-1">Descripción</label> <input type="text" [disabled] = "editar"  class="form-control-sm col-12 texto-monserrat texto-secondary" [(ngModel)]="descripcion">
        </div>
        <div class="d-flex justify-content-center">
            <label class="mt-1 ml-1 mr-1 ">Observación</label> <input type="text" [disabled] = "editar" class="form-control-sm col-12 texto-monserrat texto-secondary" [(ngModel)]="obesrvacion">
        </div>
        
         <div class="d-flex justify-content-end">
          <label class="mt-1 ml-1 mr-1 ">Estado :</label>         

          <select [(ngModel)]="selectedEstado" class="form-control-sm text-sm texto-monserrat texto-secondary" (change)="onChangeEstado($event)" >                        
            <option *ngFor="let grupo of estado" class="text-sm texto-monserrat texto-secondary"    >
              <label >{{grupo.name}}</label>              
          </option>
        </select>    
         </div>

       
    </div> 

  </div> -->
   
  <p-overlayPanel #op2 [showCloseIcon]="true" [dismissable]="false" appendTo="body">
    <p class="texto-info texto-bold">Desde aquí se selecciona el producto asociando sus parametos de :</p>
    <p> - Dia en que se planifica la producción</p>
    <p> - El periodo que durara la producción</p>
    <p> - Una descripción de la producción y observaciones sobre la producción</p>
    <p> - El estado -- por defecto activo , y podra cambiarse segun se avance</p>
    <p> - Agregar un producto a producir</p>
    <p class="texto-secondary">----------------------------------------</p>
    <p><b class="texto-warning"> Recordar que  se debe repetir el proceso para cada producto para completar la producción planificada</b></p>
  </p-overlayPanel>
  <div  class="m-3">
      <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos" [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
      scrollHeight="500px" [scrollable]="true"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
     
      <ng-template pTemplate="caption">
        <div class=" row">
      
    

        </div>
        
      </ng-template>
    
                 <ng-template pTemplate="header" let-columns >
                
                            <tr >
                                 
                              <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                  {{col.header}}
                                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                              </th> 
                              
                          </tr> 
                          <tr>
                          <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                               <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'orden_produccion_detalle_id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">  
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'estado'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'fecha_produccion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'maquina_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'hora_inicio'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'hora_fin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad_solicitada'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad_existente'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                              
                          </th>
                          <th></th>
                      </tr>
                  </ng-template>
                
                  <ng-template pTemplate="body" let-elementos  >
                    <tr style="height:20px"  [ngClass]="colorRow(elementos.estado)">
                            <td style="width: 7%; font-size: 14px;font-weight: bold;" [ngClass]="iconoColor(elementos.estado)">{{elementos.orden_produccion_detalle_id}}</td> 
                            <td style="width: 12%"  [ngClass]="iconoColor(elementos.estado)">{{elementos.estado}}</td>     
                            <td style="width: 18%">{{elementos.fecha_produccion | date:'EEEE dd/MM/yyyy'}}</td>
                            <td style="width: 30%">{{elementos.nombre}}</td>
                            <td style="width: 20%">{{elementos.maquina_nombre}}</td>
                            <td style="width: 12%; font-weight: bold;font-size: 11px;" class="texto-success">{{elementos.hora_inicio | date : ' hh:mm'}}</td>
                            <td style="width: 12%; font-weight: bold;font-size: 11px;" class="texto-danger-soft">{{elementos.hora_fin | date: 'hh:mm'}}</td>
                            <td style="font-size: 10px;width: 10%" class="texto-secondary">{{elementos.cantidad_solicitada}}</td>  
                            <td style="font-size: 10px;width: 10%" class="texto-secondary">{{elementos.cantidad_solicitada / elementos.unidades}}</td>                        
                            <td style="width: 6%">
                              <a  (click)="accion($event,op,elementos)"  class="icon-hover"> <i class="fas fa-list-ul icon-color-info fa-lg"></i></a>                        
                            </td>
                    </tr>
                </ng-template>
     
    
      </p-table>

        
  <p-overlayPanel #op appendTo="body"  [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" [showCloseIcon]="true" >                                                
    <div class=" faq-title text-center pb-3 pt-2 ">
      <h5>ACCION</h5>
    </div>
      <div><a  (click)="nuevaProduccion(elemento)" class="mb-2 icon-hover" > <i class="far fa-stop-circle fa-lg  texto-danger mr-2"></i><label class="texto-danger  texto-bold">Finalizar producción</label></a></div>
      <div><a  (click)="nuevaProduccion(elemento)" class="mb-2 icon-hover" > <i class="far fa-calendar-check fa-lg  texto-success mr-2"></i><label class="texto-success  texto-bold">Auditar producción</label></a></div>
      <div><a  (click)="nuevaProduccion(elemento)" class="mb-2 icon-hover" > <i class="fas fa-cubes fa-lg  texto-warning mr-2"></i><label class="texto-warning  texto-bold">Stock de producción</label></a></div>
  </p-overlayPanel> 
    </div>