<div class=" faq-title text-center pb-3 pt-2 ">
    <!-- ------------------------ INFORMACION DE CARGA ------------------------- -->  

    <i class="far fa-question-circle icono-info mr-2 mt-2" (mouseenter)="op2.show($event)"  style="font-size:24px"></i>
    <p-overlayPanel #op2 [showCloseIcon]="true" [dismissable]="false" appendTo="body">
      <p class="texto-info texto-bold">Desde aquí se selecciona el producto asociando sus parametos de :</p>
      <p> - Dia en que se va a producir</p>
      <p> - Las horas que va a durar la produccion</p>
      <p> - El sector que va a producir</p>
      <p> - El grupo de empleados que trabajara</p>
      <p class="texto-secondary">----------------------------------------</p>
      <p class="texto-info">Para seleccionar la cantidad a producir, se debe seleccionar el icono calculadora en el renglon  que corresponda.</p>
      <p>Calcular el total de botellas y luego darle a icono confirmar</p>
      <p><b class="texto-warning"> Recordar que  se debe repetir el proceso para cada producto para completar la producción planificada</b></p>
    </p-overlayPanel>  
    <h5>ASOCIAR PRODUCTOS A PRODUCCION</h5>
  </div>

<!-- ----------------------------------------------------------------------- -->
<!--                           AGREGAR PRODUCCION                            -->
<!-- ----------------------------------------------------------------------- -->

  <p-dialog header="Parametrizar producción" [(visible)]="display" position="top"  appendTo="body" positionTop="100" styleClass="mydialog">
  
    <div class="card-rounded card-header">
      <div class="ml-2 row d-flex justify-content-between">  
          <div class="d-flex justify-content-start"> 
              <label class="mt-2 ml-1 mr-1">Producción para el dia :</label>
              <p-calendar [(ngModel)]="fecha_produccion" appendTo="body" (onSelect)="actualizarFecha($event)" tabindex="0"  [locale]="es" dateFormat="DD dd/mm/yy "   [readonlyInput]="true">              
              </p-calendar> 
          </div>
          <div class="d-flex justify-content-center">
            <label class="mt-2 ml-1 mr-1">Horas de producción:</label>
            <p-calendar [(ngModel)]="hora_produccion" appendTo="body" [timeOnly]="true"></p-calendar>               
        </div>

    </div>

    <div class="ml-2 mt-2 row d-flex justify-content-between">  
      <div class="d-flex justify-content-start"> 
        
      </div>
      <div class="d-flex justify-content-start">
        <label class="mt-2 ml-1 mr-1">Grupo:</label>
        <select [(ngModel)]="selected" class="form-control" (change)="onChangeGrupo()">                      
        <option *ngFor="let grupo of grupos" [ngValue]="grupo" class="text-sm"  > <label>{{grupo.grupo_nombre}}</label> </option>            
    </select>              
    </div>
      <div class="d-flex justify-content-end">                   
        <label *ngIf="selectedRow" class="mt-1" ><b>Packs: {{cantidad / selectedRow.unidades }}</b></label>
        <label *ngIf="selectedRow" class="mt-1 ml-2 mr-2" > Unidades: {{cantidad}}</label>
        <a  (click)="calcular(elementos)" class="icon-hover"> <i class="fas fa-calculator icon-color-warning fa-2x"></i></a>    
      </div>
</div>
  </div> 
  <div>
    <button  class="btn-cuadrado-info btn--block  mb-1" (click)="agregarProducto()" > <i class="far fa-plus-square fa-lg mr-2 mt-1"  ></i>Agregar producto</button>
  </div>
</p-dialog>



    <div  class="m-3">
        <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos" [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
        scrollHeight="500px" [scrollable]="true"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
       
        <ng-template pTemplate="caption">
          <div class="ml-2 row d-flex justify-content-between">  
            <div class="d-flex justify-content-start">
              <button  class="btn-cuadrado-success btn--block  mb-1" (click)="guardar()" > <i class="fas fa-check fa-lg mr-2 mt-1"  ></i>Agregar productos</button>
            </div>
            <div class="d-flex justify-content-end"> 
              <input type="text" pInputText size="50" class="form-control form-control-sm" placeholder="Buscar en toda la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">            
            </div>
          </div>
          
        </ng-template>
      
                   <ng-template pTemplate="header" let-columns >
                  
                              <tr >
                                   
                                <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th> 
                                
                            </tr> 
                            <tr>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'unidad_descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'unidades'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'pallet_pisos'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'pallet_pack'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'volumen'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                  
            <ng-template pTemplate="body" let-elementos  >
                <tr style="height:20px">
                        <td style="width: 30%">{{elementos.nombre}}</td>
                        <td style="width: 12%">{{elementos.fecha_produccion | date:'EEEE dd/MM/yyyy'}}</td>
                        <td style="width: 10%">{{elementos.horas }}</td>
                        <td style="width: 15%">{{elementos.grupo_nombre}}</td>
                        <td style="width: 8%">{{elementos.unidades}}</td>
                        <td style="width: 8%">{{elementos.pallet_pisos}}</td>
                        <td style="width: 8%">{{elementos.pallet_pack}}</td>                
                        <td style="width: 8%">{{elementos.cantidad}}</td>      
                        <td style="width: 8%">{{elementos.packs}}</td>                                 
                        <td style="width: 6%">
                          <a  (click)="editarProduccion(elementos)" class="icon-hover"> <i class="fas fa-pen icon-color-info fa-lg"></i></a>                                                  
                        </td>
                        <td style="width: 6%">                                          
                          <a  (click)="removerProduccion(elementos)" class="icon-hover"> <i class="fas fa-ban icon-color-danger fa-lg"></i></a>         
                        </td>
                </tr>
            </ng-template>
      
           
        </p-table>
      </div>
