<div class="d-flex justify-content-center mt-3">
    <label>DETALLE DE ORDENES DE PEDIDO</label>
  </div>
    <div  class="m-3">

        <div>
            <label>Listar ordenes de pedido por  estado :</label>
            <p-dropdown class="mr-1 ml-1" [options]="pedido" [(ngModel)]="selected_pedido" placeholder="Estado" optionLabel="label" ></p-dropdown>
            <button class="btn btn-info btn-md ml-1" (click)="loadlistByEstado()"> Buscar</button>
        </div>
      <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos" [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
      scrollHeight="500px" [scrollable]="true"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
     
      <ng-template pTemplate="caption">
        <div class="row">
                <div class="col-md-7" style="text-align:left">
                            </div>
        <div class="col-md-5" style="text-align:right">                                
            <input  class="form-control col-md-12 form-control-sm" type="text"  placeholder="Buscar en toda la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')"  >
        </div>
     </div>
    </ng-template>
    
                 <ng-template pTemplate="header" let-columns >
                
                            <tr >
                                 
                              <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                  {{col.header}}
                                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                              </th> 

                          </tr> 
                          <tr>
                          <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'sector_nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'fecha_pedido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'estado'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombreyapellido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                          </th>
                          <th></th>
                      </tr>
                  </ng-template>
                
          <ng-template pTemplate="body" let-elementos  >
              <tr style="height:20px">
                      <td style="width: 6%" >                   
                          <a     (click)="accion($event,op,elementos)"    ><i class="far fa-edit fa-2x icon-color-purple my-hover"></i></a>
                      </td>
                      <td style="width: 10%">{{elementos.id}}</td>
                      <td style="width: 25%">{{elementos.sector_nombre}}</td>
                      <td style="width: 10%">{{elementos.fecha_pedido | date: 'dd/MM/yyyy'}}</td>
                      <td style="width: 20%">{{elementos.estado}}</td>
                      <td style="width: 30%" pEditableColumn>{{elementos.nombreyapellido}}</td>   
                     
              </tr>
          </ng-template>
    
         
      </p-table>
      <p-overlayPanel #op [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" >                          
 
        <span>   <a class="nav-link azul text-warning  my-hover" (click)="modificarEstado('PAUSADO')">Pausado</a></span>
        <span>   <a class="nav-link azul text-info  my-hover" (click)="modificarEstado('ACTIVO')">Activo</a></span>
        <span>   <a class="nav-link azul text-danger  my-hover" (click)="modificarEstado('FINALIZADO')">Finalizar</a></span>
        <span> <hr></span>
        <span>   <a class="nav-link azul text-success  my-hover"   (click)="verDetalle()">Ver detalle</a></span>
      
      </p-overlayPanel>  
      
     
    </div>

