<div class=" m-2" *ngIf="loading">
    <h4 class="d-flex justify-content-center" >{{mensajeCarga}}</h4>
    <app-custom-preloader></app-custom-preloader>    
</div>

<div class="main-content">
    
    <div class="container-fluid">
        <div class="header-body">
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                <div class="row">
                <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Estadisticas</h5>
                <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fas fa-chart-bar"></i>
                </div>
                </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-check"></i> 3.48%</span>
                <span class="text-nowrap">Producido el ultimo mes</span>
                </p>
                </div>
                </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                <div class="row">
                <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Ordenes pendientes</h5>
                <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                <i class="fas fa-chart-pie"></i>
                </div>
                </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="far fa-times-circle"></i> 3.48%</span>
                <span class="text-nowrap">La ultima semana</span>
                </p>
                </div>
                </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                <div class="row">
                <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Orden de pedido</h5>
                <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                <i class="fas fa-users"></i>
                </div>
                </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">La ultima semana</span>
                </p>
                </div>
                </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                <div class="row">
                <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">Rendimiento</h5>
                <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                <i class="fas fa-percent"></i>
                </div>
                </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">El ultimo mes</span>
                </p>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>

<!-- ----------------------------------------------------------------------- -->
<!--                                MI PANEL                                 -->
<!-- ----------------------------------------------------------------------- -->
<div class="header-body mb-3">
    <div class="col-xl-4 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
        <div class="row">
        <div class="col">
        <h5 class="card-title text-uppercase text-muted mb-0">Procesos de producción</h5>
        <span class="h2 font-weight-bold mb-0"></span>
        </div>
        <div class="col-auto">
        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
        <i class="fas fa-industry"></i>
        </div>
        </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
        <span class="text-success mr-2"><i class="fas fa-check"></i> {{procesosActivos}}</span>
        <span class="text-nowrap">Activos </span>
        </p>
        </div>
        </div>
        </div>
    </div>