



<div class="banner-pedernal   cuadro-size pt-4 ">
  <div class="pt-3">
    <div class=" pt-5 faq-title text-center pb-3 ">
      <h2 class="pt-3"> SECRETARIA SOCIAL</h2>
    </div> 
  </div>
  
 
  
<!-- ----------------------------------------------------------------------- -->
<!--                           NOTICIAS REGULARES                            -->
<!-- ----------------------------------------------------------------------- -->

<app-loading *ngIf="loading" class="text-center txt-noticia-SOCIAL"></app-loading>

<p-scrollPanel  [style]="{width: '100%', height: '600px'}">
  
 

<div  *ngFor="let elemento of elementos" >

<!-- ----------------------------------------------------------------------- -->
<!--                             noticias viejas                             -->
<!-- ----------------------------------------------------------------------- -->
       <div class="row m-2">
        <div class=" col-lg-2 col-xs-0 col-sm-0 col-md-2"></div>
   
        <div *ngIf="((elemento.pagina === 'SOCIAL') && (elemento.es_importante !== 'SI'))" class=" transparency-2  col-lg-8 col-xs-12 col-sm-12 col-md-8  movie_card  "> 
          <div class="row ">
            <div *ngIf="elemento.pagina === 'SOCIAL'" class="col-md-12 xs-12 col-sm-12  ">
              <label class="txt-gris-oscuro-colegio texto-fecha mt-3 d-flex justify-content-end ">{{elemento.created_at | date :'dd/MM/yyyy'}}</label>
               <!--  <label class="txt-gris-oscuro-colegio label-h4 mt-3 d-flex justify-content-center ">{{elemento.titulo}}</label> -->
                
                <div class="faq-title text-center">
                  <h5>  {{elemento.titulo}}</h5>
              </div>
              
                <div >
                      <label class="txt-gris-oscuro-colegio label-h4 mt-3 d-flex justify-content-center  mb-4"><p class="text-justify" [innerHTML]="elemento.descripcion"></p></label>
                      <img *ngIf="elemento.tiene_imagen === 'SI'" src="{{elemento.imagen}}" alt="No se encuentra la imagen" class=" img-noticia imagen-fit pb-2 rounded  d-block ">              
                      <a *ngIf="elemento.tiene_enlace === 'SI'" class="btn btn-info btn-block text-white d-flex align-items-center d-flex justify-content-center mb-3"  href="{{elemento.enlace}}" target="_blank" ><i class="far fa-arrow-alt-circle-down mr-2 fa-2x"></i>Descargar </a>                            
                      <video *ngIf="elemento.es_video === 'SI'" class="mt-5 mb-5" width="100%" height="400" controls> 
                          <source  src="{{elemento.enlace_video}}" type="video/mp4">
                          Your browser does not support HTML5 video.
                        </video>
                        <iframe *ngIf="elemento.es_youtube === 'SI'" [src]="photoURL(elemento.enlace_video_youtube)" class=" cuadro-size-videos"  frameborder="0" allowfullscreen></iframe>
                </div>
                
            </div>
            
            <div class="col-xs-0 col-sm-0 col-md-3">
                
            </div>
          </div>
          
        </div>
        <div class="col-lg-2 xs-0 col-sm-0  col-md-2"></div>

      </div> 
   

</div>

<div  *ngIf="errornoticia" class=" row  row">
  <div class="col-5"></div>
  <div class="col-2" *ngIf="errornoticia">
      <div id="container center"><b><h6 class="text-white">A ocurrido un error</h6></b></div>
      <div id="container">
          <button class="learn-more " (click)="loadListNoticias()"> Volver a cargar</button>    
        </div>                  
  </div>
  <div class="col-5"></div>
</div>


</p-scrollPanel>
</div>
   