     
            <form class="col-12"  [formGroup]="updateDataForm">
                <div class="row">
                    <div class="col-8">
                        <div class="form-group ">
                            <label  >Referencia ISO</label>
                            <input class="form-control col-md-12 form-control-sm" formControlName="referencia_iso"  autofocus  />
                            <div *ngIf="updateDataForm.controls['referencia_iso'].errors?.required && updateDataForm.controls['referencia_iso'].touched" class="alert alert-warning">
                                    * Este campo es requerido
                            </div>
                    </div>   
                    <div class="form-group ">
                        <label  >Descripción</label>
                        <input class="form-control col-md-12 form-control-sm" formControlName="referencia_descripcion"    />
                        <div *ngIf="updateDataForm.controls['referencia_descripcion'].errors?.required && updateDataForm.controls['referencia_descripcion'].touched" class="alert alert-warning">
                                * Este campo es requerido
                        </div>
                     </div>
                     <div class="form-group ">
                        <label  >Revision</label>
                        <input class="form-control col-md-12 form-control-sm" formControlName="referencia_revision"    />
                        <div *ngIf="updateDataForm.controls['referencia_revision'].errors?.required && updateDataForm.controls['referencia_revision'].touched" class="alert alert-warning">
                                * Este campo es requerido
                        </div>
                    </div>
                        
                       
                    
                    </div>
        </div>
             
            </form>
          
        
            <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button  [disabled]="!updateDataForm.valid" class="btn btn-info texto-roboto" type="submit" (click)="guardarDatos()" >Guardar</button>
                            
                    </div>
                </p-footer>
       