





        <div id="main-wrapper">
                <!-- ============================================================== -->
                <!-- Topbar header - style you can find in pages.scss -->
                <!-- ============================================================== -->
                <header class="topbar">
                    <nav class="navbar top-navbar navbar-expand-md navbar-light">
                        <!-- ============================================================== -->
                        <!-- Logo -->
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->
                        <!-- End Logo -->
                        <!-- ============================================================== -->
                        <div class="navbar-collapse">
                            <!-- ============================================================== -->
                            <!-- toggle and nav items -->
                            <!-- ============================================================== -->
                            <ul class="navbar-nav mr-auto">
                                <!-- This is  -->
                                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="fas fa-bars"></i></a> </li>
                                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="fas fa-bars"></i></a> </li>
                                <li class="nav-item hidden-sm-down"></li>
                            </ul>
                            <!-- ============================================================== -->
                            <!-- User profile and search -->
                            <!-- ============================================================== -->
                            <ul class="navbar-nav my-lg-0">




                                <!-- ============================================================== -->
                                <!-- Profile -->
                                <!-- ============================================================== -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="./assets/images/icon/staff-w.png" width="32px" height="32px" alt="user"></a>
                                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                        <ul class="dropdown-user">
                                            <li>
                                                <div class="dw-user-box">
                                                    <div class="u-img"><img src="./assets/images/user-default.png" alt="user"></div>
                                                    <div class="u-text">
                                                        <h4>{{nombreyapellido | titlecase }}</h4>
                                                        <h6 class="text-muted">Matricula nº {{username}}</h6></div>
                                                </div>
                                            </li>
                                            <li role="separator" class="divider"></li>
                                            <li><a routerLink="/cuenta"><i class="ti-user"></i> Mi perfil</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a  routerLink="/cuenta"><i class="ti-settings"></i> Configuración</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a (click)="cerrarSesion()"><i class="fa fa-power-off"></i> Salir</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <!-- ============================================================== -->
                <!-- End Topbar header -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Left Sidebar - style you can find in sidebar.scss  -->
                <!-- ============================================================== -->
                <aside class="left-sidebar">
                    <!-- Sidebar scroll-->
                    <div class="scroll-sidebar">
                        <!-- Sidebar navigation-->
                        <nav class="sidebar-nav">
                            <ul id="sidebarnav">

                                <li >
                                         <a class="has-arrow waves-effect waves-dark d-flex justify-content-start"   aria-expanded="false"><i class="far fa-newspaper  mr-1"></i><span class="hide-menu"> Información</span></a>
                                                <ul aria-expanded="false" class="collapse">
                                                    <li><a routerLink="/secretaria/asuntosprofesionales" class="d-flex align-items-center"><i class="fas fa-circle fa-xs mr-2 icon-color-blue"></i>Secretaria de asuntos profesionales</a></li>
                                                    <li><a routerLink="/secretaria/social" class="d-flex align-items-center"><i class="fas fa-circle fa-xs mr-2 icon-color-blue"></i>Secretaria social</a></li>
                                                    <li><a routerLink="/secretaria/general" class="d-flex align-items-center"><i class="fas fa-circle fa-xs mr-2 icon-color-blue"></i>Secretaria general</a></li>
                                                    <li><a routerLink="/secretaria/cientifica" class="d-flex align-items-center"><i class="fas fa-circle fa-xs mr-2 icon-color-blue"></i>Secretaria cientifica</a></li>
                                                    <li><a routerLink="/tesoreria" class="d-flex align-items-center"><i class="fas fa-circle fa-xs mr-2 icon-color-blue"></i>Tesoreria</a></li>
                                                    <li><a routerLink="/revisores" class="d-flex align-items-center"><i class="fas fa-circle fa-xs mr-2 icon-color-blue"></i>Revisores de cuenta</a></li>
                                                </ul>
                                </li>

                                <li  > <a  routerLink="/autorizacion" class=" waves-effect waves-dark d-flex justify-content-start" aria-expanded="false"> <i class="fas fa-money-check  mr-1"></i><span class="hide-menu">Autorizaciones</span></a></li>

                                <li  > <a class="has-arrow waves-effect waves-dark d-flex justify-content-start"  aria-expanded="false"> <i class="far fa-id-card  mr-1"></i> <span class="hide-menu"> Mi perfíl</span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a routerLink="/perfil/liquidaciones" class="d-flex align-items-center"><i class="fas fa-circle fa-xs mr-2 icon-color-blue"></i>Liquidaciones</a></li>
                                        <li><a routerLink="/perfil/facturacion" class="d-flex align-items-center"><i class="fas fa-circle fa-xs mr-2 icon-color-blue"></i>Facturas emitidas</a></li>
                                        <li><a routerLink="/perfil/orden" class="d-flex align-items-center"><i class="fas fa-circle fa-xs mr-2 icon-color-blue"></i>Ordenes cargadas</a></li>
                                    </ul>
                                </li>


                                <!-- <li  *ngIf="userData.admin === 2"> <a class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="fas fa-cogs mr-1"></i><span class="hide-menu">Gestión</span></a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li><a routerLink="/gestion/noticias" class="d-flex align-items-center"><i class="fas fa-circle fa-xs mr-2 icon-color-blue"></i>Noticias</a></li>
                                        <li><a routerLink="/gestion/facturacion/psicologos" class="d-flex align-items-center"><i class="fas fa-circle fa-xs mr-2 icon-color-blue"></i>Facturas de psicologos</a></li>
                                    </ul>
                                </li>
                            -->


                            </ul>
                        </nav>
                        <!-- End Sidebar navigation -->
                    </div>
                    <!-- End Sidebar scroll-->
                </aside>
                <!-- ============================================================== -->
                <!-- End Left Sidebar - style you can find in sidebar.scss  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Page wrapper  -->
                <!-- ============================================================== -->
                <div class="page-wrapper">

                    <!-- ============================================================== -->
                    <!-- Container fluid  -->
                    <!-- ============================================================== -->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-12">
                                <router-outlet  ></router-outlet>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- End Page Content -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Right sidebar -->
                        <!-- ============================================================== -->
                        <!-- .right-sidebar -->
                        <div class="right-sidebar">
                            <div class="slimscrollright">
                                <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                                <div class="r-panel-body">

                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- End Right sidebar -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Container fluid  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- End Page wrapper  -->
                <!-- ============================================================== -->
            </div>

        <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->














