
<div class=" faq-title text-center pb-1 pt-2 ">
    <h5>INSUMOS DISPONIBLES</h5>
  </div>

  <div class="card-rounded card-header"> 
    <div class="ml-2 row d-flex justify-content-between">  
        <div class="d-flex justify-content-start">
            <h6 class="mr-2 texto-info texto-bold">PRODUCTO: {{config.data.nombre}}</h6>
            
        </div>
        <div class="d-flex justify-content-end">
            <h6 class="mr-5 texto-danger texto-bold">REQUERIDO: {{config.data.cantidad_estimada}}</h6>
         </div>
    </div>     
    </div>

<div  class="m-3">
   
     
    
    <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos" [(selection)]="selecteditems"  [loading]="loading"  columnResizeMode="expand" [responsive]="true"
    scrollHeight="500px" [scrollable]="true"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
   
 
 
               <ng-template pTemplate="header" let-columns >
              
                          <tr >
                               
                            <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th> 
                         
                        </tr> 
                        <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">  
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">                          
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'descomprobantecripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">                          
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'lote'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">      
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
              
        <ng-template pTemplate="body" let-elementos  let-editing="editing"  >
            <tr style="height:30px" [pEditableRow]="elementos">
                
                <td style="width: 36%">{{elementos.nombre}}</td>                 
                <td style="width: 26%" >{{elementos.descripcion}}</td>                    
                <td style="width: 18%">{{elementos.comprobante}}</td>                      
                <td style="width: 18%" >{{elementos.lote}}</td>
                <td style="width: 18%"  >{{elementos.fecha_ingreso | date : 'dd/MM/yyyy'}}  </td>
                <td style="width: 18%" class="texto-info texto-bold" >{{elementos.cantidad_existente}}</td>

                <td style="width: 18%" pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="form-control  form-control-sm" type="text" [(ngModel)]="elementos.cantidad_afectada">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{elementos.cantidad_afectada}}
                        </ng-template>
                    </p-cellEditor>
                </td>


             <!--    <td style="width: 18%" class="texto-info texto-bold" >{{elementos.cantidad_afectada}}</td> -->
                <td style="width: 6%; text-align:center" >                   
                    <a  (click)="accion($event,op,elementos)"  class="icon-hover"> <i class="fas fa-cart-plus icon-color-info fa-lg"></i></a>       
                    
                </td>            
                    
            </tr>
        </ng-template>

        <ng-template pTemplate="footer">
            <tr>                
                <td style="width: 116%"  class="text-info"></td>
                <td style="width: 18%"  class="text-info text-bold">ACUMULADO</td>
                <td style="width: 18%"  class="text-info">{{acumulado}}</td>
                <td style="width: 6%"  class="text-info"></td>
            
            </tr>
        </ng-template>

        <p-overlayPanel  #op appendTo="body"  [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" [showCloseIcon]="true" (onHide)="cerrarVentanta()" >                          

            <!-- <span>   <a class="nav-link azul text-info  my-hover" (click)="asociarInsumo()">Asociar insumo</a></span> -->
            <div class=" d-flex justify-content-center">
                <div class="row ml-2 mr-2">
                    <label class="texto-bold mr-4"> Cantidad</label>
                    <label class="texto-bold texto-info">Solicitado: {{config.data.cantidad_estimada }}</label>
 
                </div>
              
            </div>
            <div class="row ml-2 mr-2 d-flex align-items-center">
                <input type="number"  #input [(ngModel)]="cantidad_ingresada" class="form-control  form-control-sm col-9" (keyup.enter)="agregarValor($event, op)">
                <button class="btn btn-info btn-block ml-1 col-2" (click)="agregarValor($event, op)"><i class="fas fa-check mr-1"></i> </button>
            </div>
          </p-overlayPanel> 
       
    </p-table>

  </div>
  <div class="m-1">
    <button class="btn btn-info btn-md btn-block" (click)="guardar()">Asociar insumos</button>
</div>