
<div class=" faq-title text-center pb-1 pt-2 ">
    <h5>LISTADO DE INSUMOS EN STOCK</h5>
  </div>
  <div class="card-rounded card-header">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
            <button class=" ml-2 mr-3 btn-sm btn-cuadrado-info" (click)="loadlist()">Asociar stock a producción</button>      
          
        </div>

        <div class="d-flex justify-content-end align-items-center">
         
        </div>
      </div>
    <div class="ml-2">
    
    </div> 
  </div>
    <div class="row m-3">
      <p-table  #dt class="pt-2"  tableStyleClass="prime-table" selectionMode="single" [columns]="cols"  [loading]="loading" [value]="elementos"  [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
      scrollHeight="500px" [scrollable]="true"  loadingIcon="fas fa-spinner fa-2x icon-color-green"  >
     
      
      <ng-template pTemplate="caption">
        <div class=" d-flex justify-content-start">
          <button  (click)="exportarExcel()" class="btn btn-sm btn- btn-excel "> <i class="fas fa-file-excel fa-lg mr-1"></i> Excel</button>     
          <button  (click)="exportarExcel()" class="btn btn-sm btn-pdf ml-2"> <i class="fas fa-file-pdf fa-lg mr-1"></i>Pdf</button>     
        
        </div>
        
      </ng-template>
                 <ng-template pTemplate="header" let-columns >
                
                            <tr >
                                 
                              <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                  {{col.header}}
                                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                              </th> 
                            
                          </tr> 
                          <tr>
                          <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">                              
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad_usada'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                              <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad_existente'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">                            
                          </th>
                          <th></th>
                      </tr>
                  </ng-template>
                
          <ng-template pTemplate="body" let-elementos  >
              <tr style="height:20px"  >

                <td style="width: 30%" >{{elementos.nombre}}</td>     
                <td style="width: 30%" >{{elementos.descripcion}}</td>                     
                <td style="width: 12%" class="texto-bold texto-info">{{elementos.cantidad |  number : '1.2-2'}}</td>            
                <td style="width: 12%" class="texto-bold texto-success">{{elementos.cantidad_usada |  number : '1.2-2'}}</td>
                <td style="width: 12%; font-size: 14px;" class="texto-bold texto-danger">{{elementos.cantidad_existente |  number : '1.2-2'}}</td>                   
                <td style="width: 6%">
                    <a  (click)="detalle(elementos)"  class="icon-hover"> <i class="fas fa-bars icon-color-info fa-2x"></i></a>                        
                  </td>
              </tr>
          </ng-template>
         
      </p-table>
    </div>