<div class=" faq-title text-center pb-3 ">
  <h5>ASOCIAR INSUMOS A PRODUCTOS</h5>
</div>

  <div class="row mt-3 ml-3 mr-3 ">
    <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos"   [(selection)]="selecteditems" columnResizeMode="expand" [responsive]="true"
    scrollHeight="300px" [scrollable]="true"   [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
   

    <ng-template pTemplate="header" let-columns >
              
      <tr >
           
        <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th> 
        
    </tr> 
    <tr>
    <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
      <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'unidad_descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'botellas'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'pisos'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'pack'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'litros'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
    </th>
    <th></th>
</tr>
</ng-template>

<ng-template pTemplate="body" let-elementos  >
<tr style="height:20px">

  <td style="width: 40%">{{elementos.descripcion}}</td>
  <td style="width: 20%">{{elementos.unidad_descripcion}}</td>
  <td style="width: 10%">{{elementos.botellas}}</td>
  <td style="width: 10%">{{elementos.pisos}}</td>
  <td style="width: 10%">{{elementos.pack}}</td>
  <td style="width: 10%">{{elementos.litros}}</td>
            
<td style="width: 6%">
  <a     (click)="loadlistConfeccion(elementos)"    ><i class="fas fa-list-ul fa-2x icon-color-purple my-hover"></i></a>
    
    </td>
</tr>
</ng-template>  
    </p-table>
  </div>



  <div class=" faq-title text-center pb-3 ">
    <h5 class="pt-3">INSUMOS DEL PRODUCTO</h5>
  </div>
  

<div class="card-rounded card-header">
  <div class="ml-2">   <a  (click)="buscar()" class="icon-hover  icon-color-success"> <i class="fas fa-plus fa-lg mr-2"></i>Agregar insumo al producto</a>    </div> 
</div>
  <div class="row m-3">
    <p-table  #dt class="pt-2"  tableStyleClass="prime-table" selectionMode="single" [columns]="colsConfeccion" [value]="elementosConfeccion"    columnResizeMode="expand" [responsive]="true"
    scrollHeight="300px" [scrollable]="true"    >
   
    
               <ng-template  pTemplate="header" let-columns >
              
                          <tr >
                               
                            <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th> 
                          
                        </tr> 
                        <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'insumo_descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                            
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'unidad_descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'unidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                          
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
              
        <ng-template  pTemplate="body" let-elementos  >
            <tr style="height:20px"  >

                   
                    <td style="width: 64%">{{elementos.insumo_descripcion}}</td>
                    <td style="width: 10%">{{elementos.cantidad}}</td>                    
                    <td style="width: 20%">{{elementos.unidad_descripcion}}</td>
                    <td style="width: 10%">{{elementos.unidad}}</td>
                                                
                    <td style="width: 6%">
                      <a     (click)="borrar(elementos)"    ><i class="fas fa-trash fa-2x icon-color-red my-hover"></i></a>                          
                        </td>
            </tr>
        </ng-template>
       
    </p-table>

    
  </div>