<div class=" faq-title text-center pb-3 ">
  <h5>ASOCIAR INSUMOS A PRODUCTOS</h5>
</div>

  <div class="row mt-3 ml-3 mr-3 ">
    <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos" [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
    scrollHeight="500px" [scrollable]="true"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
   
    <ng-template pTemplate="caption">
      <div class=" row">
          <div class="col-4" style="text-align: left" >
         
          </div>
        
        <div class="col-8 mt-2" style="text-align: right">     
          
          
            <input   size="50" placeholder="Buscar en toda la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
      
    </ng-template>
  
               <ng-template pTemplate="header" let-columns >
              
                          <tr >
                               
                            <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th> 
                            
                        </tr> 
                        <tr>  
      <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'unidad_descripcion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'unidades'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'pallet_pisos'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'pallet_pack'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'volumen'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
    </th>
    <th></th>
</tr>
</ng-template>

<ng-template pTemplate="body" let-elementos  >
<tr style="height:20px">


<td style="width: 40%">{{elementos.descripcion}}</td>
<td style="width: 20%">{{elementos.unidad_descripcion}}</td>
<td style="width: 10%">{{elementos.unidades}}</td>
<td style="width: 10%">{{elementos.pallet_pisos}}</td>
<td style="width: 10%">{{elementos.pallet_pack}}</td>
<td style="width: 10%">{{elementos.volumen}}</td>
            
<td style="width: 6%">
  <a     (click)="loadlistConfeccion(elementos)"    ><i class="fas fa-bars fa-lg icon-color-purple my-hover"></i></a>
    
    </td>
</tr>
</ng-template>  
    </p-table>
  </div>


