<div class=" faq-title text-center pb-3 pt-2 ">
    <h5>AGREGAR PRODUCCION A ORDEN DE PRODUCCION</h5>
  </div>
  

  <p-table  #dt   tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos"  columnResizeMode="expand" [responsive]="true"
  scrollHeight="500px" [scrollable]="true"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
  
  <ng-template pTemplate="caption">
    <div class=" row">
        <div class="col-4" style="text-align: left" >
       
        </div>
      
      <div class="col-8 mt-2" style="text-align: right">     
        
        <input type="text" class="form-control form-control-sm" pInputText size="50" placeholder="Buscar en toda la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">            
      </div>
    </div>
    
  </ng-template>

             <ng-template pTemplate="header" let-columns >
            
                        <tr >
                             
                          <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                              {{col.header}}
                              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                          </th> 
                          
                      </tr> 
                      <tr >
                      <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                           <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">  
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'estado'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'fecha_produccion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad_solicitada'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad_usada'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                          <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad_existente'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                          
                      </th>
                      <th></th>
                  </tr>
              </ng-template>
            
      <ng-template pTemplate="body" let-elementos  >
          <tr style="height:20px"  [ngClass]="colorRow(elementos.estado)">
                  <td style="width: 7%; font-size: 14px;font-weight: bold;" [ngClass]="iconoColor(elementos.estado)">{{elementos.id}}</td> 
                  <td style="width: 8%"  [ngClass]="iconoColor(elementos.estado)">{{elementos.estado}}</td>     
                  <td style="width: 15%">{{elementos.fecha_produccion | date: 'EEEE dd/MM/yyyy'}}</td>
                  <td style="width: 20%">{{elementos.nombre}}</td>
                  <td style="width: 15%" class="texto-secondary">Pisos:{{elementos.pallet_pisos}} - Pack: {{elementos.pallet_pack}} - Unidad: {{elementos.unidades}}</td>
                  <td style="width: 11%; font-weight: bold; text-align:right ;" class="texto-secondary-soft texto-bold">
                    <div>
                      <i class="fas fa-box-open mr-1 fa-sm"></i> <label>Unidades: {{elementos.cantidad_solicitada |  number : '1.0-2'}}</label>                    
                    </div>
                    <div>
                      <i class="fas fa-boxes mr-1 fa-lg"></i>    <label>Packs: {{(elementos.cantidad_solicitada/ elementos.unidades) |  number : '1.0-2'}}</label>
                    </div>
                  </td>
                  <td style="width: 11%; font-weight: bold; text-align:right ;" class="text-success texto-bold">
                    <div>
                      <i class="fas fa-box-open mr-1 fa-sm"></i>  <label>Unidades: {{elementos.cantidad_usada |  number : '1.0-2'}}</label>                    
                    </div>
                    <div>
                      <i class="fas fa-boxes mr-1 fa-lg"></i>    <label>Packs: {{(elementos.cantidad_usada/ elementos.unidades) |  number : '1.0-2'}}</label>
                    </div>
                  </td>
                  <td style="width: 11%; font-weight: bold; text-align:right ;" class="texto-danger-soft">
                    <div>
                      <i class="fas fa-box-open mr-1 fa-sm"></i> <label>Unidades: {{elementos.cantidad_existente |  number : '1.0-2'}}</label>                    
                  </div>
                  <div>
                    <i class="fas fa-boxes mr-1 fa-lg"></i> <label>Packs: {{(elementos.cantidad_existente/ elementos.unidades) |  number : '1.0-2'}}</label>
                  </div>
                </td>                                
                  <td style="width: 6%">
                    <a  (click)="accion($event,op,elementos)"  class="icon-hover"> <i class="fas fa-bars icon-color-info fa-lg"></i></a>                        
                  </td>
          </tr>

         
          
      </ng-template>
  
      
    

  </p-table>

  
  <p-overlayPanel #op appendTo="body"  [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" [showCloseIcon]="true" >                                                
    <div class=" faq-title text-center pb-3 pt-2 ">
      <h5>ACCION</h5>
    </div>
       <button class="btn-cuadrado-info btn--block texto-bold mb-1" (click)="nuevaProduccion(elemento)"  >Nueva producción</button>
      <button class="btn-cuadrado-success  btn--block " (click)="detalleProduccion(elemento)"  >Detalle  producción</button>    -  
  </p-overlayPanel> 



  
   <!--    <div  class="m-3 ">
     
         <p-scrollPanel  [style]="{width: '100%', height: '600px'}">
        <div class="row cards" >
    
          <div class="cards__item  column" *ngFor="let elem of elementos" >
            
            <div class="card">
              <div class="">
                <div class="d-flex justify-content-between">
                  <div class="d-flex justify-content-start ml-2">    
                    <a (click)="estadistica(elem)" > <i class="fas fa-circle  " [ngClass]="iconoColor(elem.estado)"></i>
                      <label class="ml-2  mr-2 ">{{elem.estado}} </label>
                    </a>                   
                  </div>
                  <div class="d-flex justify-content-center">   
                   
                  </div>
                  <div class="d-flex justify-content-end">
                 <small> <label class="ml-3  mr-2 mt-1 text-warning">Dia {{elem.fecha_creacion | date: 'dd/MM/yyyy'}} </label>                   </small> 
                  </div>
                </div>  
              </div>

              <div class=" ">
                <div class="d-flex justify-content-between">
                  <div class="d-flex justify-content-start">                     
                    <b><label class="ml-2  mr-2 card__text texto-info card__title" >Producción : {{elem.fecha_produccion | date: 'EEEE dd/MM/yyyy'}} </label></b>
                  </div>
               
                </div>  
              </div>
        
            
              <div class="card__content">
                    <div class="d-flex justify-content-center " >
                      <label class=" texto-secondary"><b>{{elem.nombre}}</b></label>
                </div>


                <div class='col-lg-12 well'>
                  <div class="d-flex flex-row">
                    <div >
                       <div class="d-flex justify-content-between">
                         <div class="d-flex justify-content-start">  <label class="ml-3 mt-2 mr-2 texto-secondary-soft texto-bold">Solicitado : </label></div>
                         <div class="d-flex justify-content-center">   <label class="ml-3 mt-2 mr-2 text-info texto-bold"> {{elem.cantidad_solicitada |  number : '1.0-2'}} Unidades</label>
                          <a  (click)="calcular(elem, elem.cantidad_solicitada)" class="icon-hover mt-2"> <i class="fas fa-calculator text-info fa-lg"></i></a>   </div>                                    
                        </div>
                     
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-start">  <label class="ml-3 mt-2 mr-2 texto-secondary-soft texto-bold">Producido : </label></div>
                            <div class="d-flex justify-content-center">   <label class="ml-3 mt-2 mr-2 text-success texto-bold"> {{elem.cantidad_usada |  number : '1.0-2'}} Unidades</label>
                              <a  (click)="calcular(elem, elem.cantidad_usada)" class="icon-hover mt-2"> <i class="fas fa-calculator text-info fa-lg"></i></a>   </div>                                   
                        </div>
                       <hr>
                        <div class="d-flex justify-content-between ">
                            <div class="d-flex justify-content-start">  <b><label class="ml-3  mr-2 texto-danger-soft">Pendiente : </label></b></div>
                            <div class="d-flex justify-content-center">   <b><label class="ml-3   mr-2 texto-danger-soft"> {{elem.cantidad_existente |  number : '1.0-2'}} Unidades</label></b>
                              <a  (click)="calcular(elem, elem.cantidad_existente)" class="icon-hover"> <i class="fas fa-calculator text-info fa-lg"></i></a>   </div>                                  
                        </div>
                    </div>                            
                  </div>          
                </div>
                
                <div class="card__btn">
                  <div class='col-lg-12'>
                      
                    <div class="d-flex justify-content-between pt-2 ">
                      <div class="d-flex justify-content-start"><b> <label class="texto-terthiary"> <i class="fas fa-pallet fa-lg mr-1"></i>Pallets : {{((elem.cantidad_existente / elem.pallet_pisos) / elem.pallet_pack)/ elem.unidades |  number : '1.1-2'}}</label></b></div>
                      
                      <div class="d-flex justify-content-end">  <b><label class="texto-info"> <i class="fas fa-boxes fa-lg mr-1"></i>Packs : {{  elem.cantidad_existente / elem.unidades |  number : '1.0-2'}}</label></b>   </div>                          
                  </div>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <button class="btn-cuadrado-info btn--block texto-bold mr-1 " (click)="nuevaProduccion(elem)"  >Nueva producción</button>
                    <button class="btn-cuadrado-success  btn--block " (click)="detalleProduccion(elem)"  >Detalle  producción</button>
                  </div>
                  
                  
                </div>
            
              </div>
          
            </div>
      
          </div>
     
        </div>
     </p-scrollPanel>
  
      </div> -->
   
      