


<div  class="m-3">
   
     
      
    <p-table  #dt class=""  tableStyleClass="prime-table" selectionMode="single" [columns]="cols" [value]="elementos" [(selection)]="selecteditems"   columnResizeMode="expand" [responsive]="true"
    scrollHeight="500px" [scrollable]="true"  [loading]="loading" loadingIcon="fas fa-spinner fa-2x icon-color-green" >
   
    <ng-template pTemplate="caption">
      <div class="row">
              <div class="col-md-3" style="text-align:left">
                
                          </div>
              <div class="col-md-4" style="text-align:left"></div>
      <div class="col-md-5" style="text-align:right">                                
          <input  class="form-control col-md-12 form-control-sm" type="text"  placeholder="Buscar en toda la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')"  >
      </div>
   </div>
  </ng-template>
 
               <ng-template pTemplate="header" let-columns >
              
                          <tr >
                               
                            <th  *ngFor="let col of columns" [pSortableColumn]="col.field"  [ngStyle]="{'width': col.width}">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th> 
                         
                        </tr> 
                        <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field"  >
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad_unitaria'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad_empaque'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input style=" font-size: 12px;" class="form-control col-md-12 form-control-sm" *ngSwitchCase="'cantidad'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
              
        <ng-template pTemplate="body" let-elementos  >
            <tr style="height:20px">
                
                    <td style="width: 30%">{{elementos.nombre}}</td>                 
                    <td style="width: 18%" >{{elementos.cantidad_unitaria}}</td>
                    <td style="width: 18%" >{{elementos.cantidad_empaque}}</td>
                    <td style="width: 18%">{{elementos.cantidad}}</td>                      
                    <td style="width: 18%" >{{elementos.cantidad_afectada}}</td>
                    <td style="width: 6%" >                   
                        <a  (click)="accion($event,op,elementos)"  class="icon-hover"> <i class="fas fa-pen icon-color-info fa-lg"></i></a>               
                    </td>
            </tr>
        </ng-template>
        <p-overlayPanel  #op appendTo="body"  [showTransitionOptions]="'400ms'" [hideTransitionOptions]="'300ms'"  [dismissable]="true" [showCloseIcon]="true" (onHide)="cerrarVentanta()" >                          

            <!-- <span>   <a class="nav-link azul text-info  my-hover" (click)="asociarInsumo()">Asociar insumo</a></span> -->
            <div class=" d-flex justify-content-center">
                <div class="row m-2">
                    <label class="texto-bold"> Cantidad</label>
                    <input type="number" [(ngModel)]="cantidad_ingresada" class="form-control  form-control-sm" autofocus>
                    <button class="btn btn-info btn-block mt-2" (click)="agregarValor()"><i class="fas fa-check mr-1"></i> Guardar</button>
                </div>
              
            </div>
            
          </p-overlayPanel> 
       
    </p-table>

  </div>
  <div class="m-1">
    <button class="btn btn-info btn-md btn-block" (click)="verDetalleTodos()">Asociar insumos</button>
</div>